body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}
.number-container {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    padding: 0.5rem;
}
.number-display {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}
.btn-custom {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
}
.col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-item {
    background-color: #f8f9fa;
    padding: 1rem;
    margin-bottom: 1rem;
}
#alergenos p:first-child {
    font-size: 2rem;
    color: red;
}
#alergenos p:nth-child(2) {
    font-weight: bold;
}