@font-face {
  font-family: "Neue Montreal";
  src: url("../resources/tipographies/NeueMontreal-Italic.otf");
}
@font-face {
  font-family: "Sohne";
  src: url("../resources/tipographies/TestSohneBreit-Dreiviertelfett-BF663d89c955618.otf");
}
@font-face {
  font-family: "Source Sans 3";
  src: url("../resources/tipographies/SourceSans3-Medium.ttf");
}
@font-face {
  font-family: "Stack Sans";
  src: url("../resources/tipographies/StackSansText-Medium.ttf");
}

:root{
    --c_verde_claro: #67dc68;
    --c_verde_oscuro: #389d79;
    --c_marron_claro: #e0bf57;
    --c_marron_oscuro: #a88135;
    --c_negro: #000000;
    --c_blanco: #ffffff;
    --c_gris_claro: #e8e8e8;
    --c_gris_oscuro: #171717;
    --rojo: #e94b48;

    --fuente-titulo: "Sohne", sans-serif;
    --fuente-subtitulo: "Neue Montreal", sans-serif;
    --fuente-texto: "Source Sans 3", sans-serif;
    --fuente-botones: "Stack Sans", sans-serif;
    --tamano-fuente-base: 16px;
    --altura-linea: 1.5;
}

.titulo, h1, h2
{
  font-family: var(--fuente-titulo);
  font-size: large;
}

.subtitulo, h3, aside
{
  font-family: var(--fuente-subtitulo);
  font-size: medium;
}

.texto, button
{
  font-family: var(--fuente-texto) !important;
  font-size: var(--tamano-fuente-base);
}