@font-face {
  font-family: "Neue Montreal";
  src: url("../resources/tipographies/NeueMontreal-Italic.otf");
}
@font-face {
  font-family: "Sohne";
  src: url("resources\tipographies\TestSohneBreit-Dreiviertelfett-BF663d89c955618.otf");
}