@font-face {
  font-family: "Neue Montreal";
  src: url("../resources/tipographies/NeueMontreal-Italic.otf");
}
@font-face {
  font-family: "Sohne";
  src: url("../resources/tipographies/TestSohneBreit-Dreiviertelfett-BF663d89c955618.otf");
}

:root{
    --c_verde_claro: #67dc68;
    --c_verde_oscuro: #389d79;
    --c_marron_claro: #e0bf57;
    --c_marron_oscuro: #a88135;
    --c_negro: #000000;
    --c_blanco: #ffffff;
    --c_gris_claro: #67dc68;
    --c_gris_oscuro: #171717;

    --fuente-titulo: "Sohne", sans-serif;
    --fuente-texto: "Neue Montreal", sans-serif;
    --tamano-fuente-base: 16px;
    --altura-linea: 1.5;
}