.user-image
{
    width: 50px;
    height: 50px;

    min-width: 50px;
    min-height: 50px;
    
    border-radius: 50%;
}

.main-chat
{
    display: flex;
    flex-direction: column;
}

.chat-container
{
    flex-grow: 1;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
}

.messages-container
{
    flex-grow: 1;
    overflow-y: scroll;
}

.message-editor
{
    display: flex;
    gap: 1rem;
}

#message-input
{
    flex-grow: 1;
}

.message
{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.message.reverse
{
    flex-direction: row-reverse;
}