.repairing-header
{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.first-column, .reparing-info
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.tags-container, .second-row
{
    display: flex;
}

.tags-container, .description
{
    flex-grow: 1;
}