:root, body
{
    margin: 0;
    box-sizing: border-box;
}

.main-content
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
}

.repair-info-content
{
    display: flex;
    gap: 3rem;
}

.repair-info-column
{

}