* {
    margin: 0;
    box-sizing: border-box;
}

.main-content
{
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: flex;

}

.zone
{
    width: 50vw;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}

.client-zone
{
    background-color: green;
}

.professional-zone
{
    background-color: orange;
}

.title
{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title, p
{
    border-radius: 10px;

    padding: 2rem;

    background-color: white;
}