:root, body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: flex-end;
}

.right-menu-column
{
    width: 12vw;
    height: 100vh;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
}

.right-menu-option
{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-menu-option-text
{
    text-align: center;
}